@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  
  /* High-standard custom Emerald colors */
  --color-ath-emerald: #064e3b;
  --color-ath-neon: #10b981;
}

/* Force standard system stability */
:root {
  background-color: #ffffff;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}